/* CSS Variabels */
:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  --ff-primary: "Inter", sans-serif;
  --fs-100: 0.5rem;
  --fs-200: 0.75rem;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.75rem;
  --fs-700: 2.5rem;

  /* TODO: Change to rem units */
  --margin-mobile: 1rem;
  --margin-desktop: 5% 10%;
}

/* For Screen readers only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

body {
  font-family: var(--ff-primary);
}

/* Setup of the div#root element & App container */
#root {
  /* Check these */
  min-height: 100vh;
  border: 1px solid red;

  background-color: var(--off-white);
}

.App {
  --flow-space: 0.6rem;
  border: 1px solid yellowgreen;
  margin: var(--margin-mobile);
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 80vh;
  gap: var(--flow-space);
}

/* HEADER Stlying */
.primary-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--very-dark-blue);
  font-weight: 300;
}

.logo {
  width: 3rem;
  aspect-ratio: 1;
}

.primary-navigation {
  display: flex;
  gap: clamp(1rem, 4vw, 2.5rem);
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation[data-menuopen="true"] {
  transform: translateX(0);
}

.primary-header a {
  text-decoration: none;
}

.primary-navigation a:hover {
  cursor: pointer;
  color: var(--soft-orange);
}

.mobile__nav-toggle {
  display: none;
}

/* Media query to display mobile navigation */
@media (max-width: 35em) {
  .mobile__nav-toggle {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;

    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 1200;

    width: 3rem;
    height: 1.5rem;
    background-image: url(assets/images/icon-menu-close.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .mobile__nav-toggle[aria-expanded="false"] {
    background-image: url(assets/images/icon-menu.svg);
  }

  .primary-navigation {
    z-index: 100;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: 8rem 2rem;
    font-size: var(--fs-300);
    font-weight: 500;
    color: var(--very-dark-blue);
    background-color: var(--off-white);

    transform: translateX(150%);
    transition: transform ease-in-out 500ms;
  }

  .primary-navigation[data-menuopen="true"] {
    z-index: 100;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
  }

  .mobile__nav-toggle:focus-visible {
    outline: 1px solid black;
    outline-offset: 4px;
    border-radius: 4px;
  }
}

/* Highlighted news styling */
.highlighted__container {
  display: grid;
  gap: 1rem;
  color: var(--dark-grayish-blue);
}

.highlighted__image-container source {
  max-height: fit-content;
}

.highlighted__title {
  color: var(--very-dark-blue);
  font-size: var(--fs-700);
  font-weight: 800;
  line-height: 1.1;
}

.highlighted__text {
  font-size: var(--fs-300);
}

.btn-primary {
  max-width: 10rem;
  padding-block: 0.75rem;
  text-transform: uppercase;
  font-size: var(--fs-200);
  font-weight: 600;
  letter-spacing: 5px;
  background-color: var(--soft-red);
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-primary:is(:hover, :focus) {
  background-color: var(--very-dark-blue);
}

/* TODO: ADD MEDIA QUERY */

/* Sidebar stlying */
.sidebar__container {
  background-color: var(--very-dark-blue);
  padding: 1.5rem;
}

.sidebar__title {
  color: var(--soft-orange);
  font-size: var(--fs-600);
  margin-bottom: 1.5rem;
}

.sidebar__article-title {
  color: var(--off-white);
  font-size: var(--fs-500);
  line-height: 2;
  font-weight: 700;
  cursor: pointer;
}

.sidebar__article-title:hover {
  color: var(--soft-orange);
}

.sidebar__article-text {
  font-size: var(--fs-300);
  color: var(--grayish-blue);
}

.sidebar__article:not(:last-child) {
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--grayish-blue);
}

/* Layout */
.content__main-container {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}
